<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<form action="#" th:fragment="customerView" th:object="${customer}">
  <div class="row">
    <div class="col-md-4 mb-3">
      <label for="code">Code</label>
      <input class="form-control" id="code" readonly th:field="*{code}" type="text">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="firstName">First name</label>
      <input class="form-control" id="firstName" readonly th:field="*{firstName}" type="text">
    </div>
    <div class="col-md-6 mb-3">
      <label for="lastName">Last name</label>
      <input class="form-control" id="lastName" readonly th:field="*{lastName}" type="text">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <label for="address">Address</label>
      <input class="form-control" id="address" readonly th:field="*{address}" type="text">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a href="#" th:href="@{/customers}">Back to Customers List</a>
    </div>
  </div>
</form>

</body>
</html>
